.finput {
    width: 98% !important;
}

.spectrogram {
    width: 375px;
    height: 275px;
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

.scrollable {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}

.outer {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}

#spectrogramContainer {
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}

.g-container {
    width: 83% !important;
}

.viewer-png, .viewer-wav, .viewer-up, .viewer-down {
    color: #ffffff;
    font-family: FontAwesome, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    text-align: center;
    vertical-align: center;
}

.viewer-png, .viewer-wav {
    width: 50px !important;
}

.viewer-wav:before {
    content: "wav";
}

.viewer-png:before {
    content: "png";
}

.viewer-up:before {
    content: url("/components/com_bramsdata/views/viewer/css/icons/arrow-up.svg");
}

.viewer-down:before {
    content: url("/components/com_bramsdata/views/viewer/css/icons/arrow-down.svg");
}

.site-grid {
    display: block !important;
    width: 80% !important;
    margin-right: auto;
    margin-left: auto;
}

.menu {
    width: 1100px !important;
    margin: auto;
}
