#mc_content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1ex;
}

#mc_container {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    z-index: 0;
    padding: 0;
    clear: both;
}

#mc_counting {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0;
    margin: 0;
}

#mc_background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0;
    margin: 0;
}

#mc_canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 0;
    margin: 0;
    cursor: crosshair;
}

.navigation {
    width: 110px;
    background-color: rgb(235, 235, 235) !important;
    line-height: 1.5 !important;
    color: darkslategray !important;
}

.navigation:hover {
    color: rgb(235, 235, 235) !important;
    background-color: darkslategray !important;
}

.floatRight {
    float: right;
}

select {
    margin: auto;
    text-align: center;
}

label {
    margin: auto;
    text-align: center;
}

option {
    text-align: center;
}
