.rect_green1{
    fill: #3cc877;
}

.tooltip_green1{
    color: #3cc877;
    width: 100px !important;
}

.rect_red1{
    fill: #c83c8a;
}

.tooltip_red1{
    color: #c83c8a;
    width: 100px !important;
}

.rect_blue{
    fill: #3c53c8;
}

.tooltip_blue{
    color: #3c53c8;
    width: 100px !important;
}

.rect_green2{
    fill: #3cbfc8;
}

.tooltip_green2{
    color: #3cbfc8;
    width: 100px !important;
}

.rect_red2{
    fill: #953cc8;
}

.tooltip_red2{
    color: #953cc8;
    width: 100px !important;
}

.legend { list-style: none; }
.legend li { 
    float: right; 
    margin-right: 5%; 
    vertical-align: middle;
}
.legend span { border: 0; float: left; width: 12px; height: 12px; margin: 10px 4px 2px 2px; }
/* your colors */
.legend .g { background-color: #e20000; }
.legend .f { background-color: #c83c8a; }
.legend .e { background-color: #953cc8; }
.legend .d { background-color: #3c53c8; }
.legend .c { background-color: #3cbfc8; }
.legend .b { background-color: #3cc877; }
.legend .a { background-color: #6dc83c; }

.legend_container {
    width: 100%;
}
