.rect_green{
    fill: #3cc877;
}

.tooltip_green{
    color: #3cc877;
}

.rect_red{
    fill: #c83c8a;
}

.tooltip_red{
    color: #c83c8a;
}

.rect_yellow{
    fill: #3c53c8;
}

.tooltip_yellow{
    color: #3c53c8;
}

.rect_green1{
    fill: #3cbfc8;
}

.tooltip_green1{
    color: #3cbfc8;
}

.rect_green2{
    fill: #953cc8;
}

.tooltip_green2{
    color: #953cc8;
}
