.custom_btn {
    border: 1px solid transparent;
    width: 130px !important;
    height: 35px;
    border-radius: 30px;
    font-weight: bolder;
}

.checkbox_label {
    display: inline-block !important;
}

label {
    margin-bottom: 0 !important;
}

.dateLabel {
    font-weight: bolder;
}

.stationInfo {
    font-weight: bolder;
}

.col-8 {
    min-width: 593px !important;
    min-height: 516px !important;
}
