.success {
    color: #00aa00;
}

.error {
    color: #aa0000;
}

label {
    text-align: left;
    width: 100%;
}

.customBtn {
    border-radius: 20px;
    display: inline-block !important;
    font-weight: 500 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    border: 1px solid transparent !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1 !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important
}

.customBtn:focus, .customBtn:hover {
    text-decoration: none !important
}

.customBtn.focus, .customBtn:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.customBtn.disabled, .customBtn:disabled {
    opacity: .65 !important
}

.customBtn:not(:disabled):not(.disabled) {
    cursor: pointer !important
}

.customBtn:not(:disabled):not(.disabled).active, .customBtn:not(:disabled):not(.disabled):active {
    background-image: none
}

.save {
    margin-top: 1%;
    color: darkslategray;
    line-height: 1.5 !important;
    background-color: rgb(235, 235, 235);
}

.save:hover {
    color: rgb(235, 235, 235);
    background-color: darkslategrey;
}

.return {
    color: darkcyan;
    background-color: rgb(235, 235, 235);
    border-radius: 10px !important;
    line-height: 1.5 !important;
    margin-bottom: 1%;
}

.return:hover {
    color: rgb(235, 235, 235);
    background-color: darkcyan;
}

#inputContainer {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

#codeStatus {
    margin: auto !important;
}

#codeStatusL {
    margin: 0;
}

.red {
    color: red !important;
}

.orange {
    color: orange !important;
}

.right {
    float: right;
    margin: 5px;
}

#buttonContainer {
    display: flex;
    align-items: center;
}

#spinner {
    display: none;
    vertical-align: middle;
}

#buttonContainer button {
    margin: 1% auto 1% auto;
}
