.success {
    color: #00aa00;
}

.error {
    color: #aa0000;
}

th, tr {
    cursor: pointer;
}

th, td {
    width: 20%;
}

th:hover {
    color: darkcyan;
}

tbody tr:hover {
    background-color: rgb(240, 240, 240);
}

.customBtn {
    border-radius: 15px;
    display: inline-block !important;
    font-weight: 500 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    border: 1px solid transparent !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1 !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important
}

.customBtn:focus, .customBtn:hover {
    text-decoration: none !important
}

.customBtn.focus, .customBtn:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.customBtn.disabled, .customBtn:disabled {
    opacity: .65 !important
}

.customBtn:not(:disabled):not(.disabled) {
    cursor: pointer !important
}

.customBtn:not(:disabled):not(.disabled).active, .customBtn:not(:disabled):not(.disabled):active {
    background-image: none
}

.delete {
    color: red;
    background-color: rgb(235, 235, 235);
}

.delete:hover {
    color: rgb(235, 235, 235);
    background-color: red;
}

.edit {
    color: darkslategray;
    background-color: rgb(235, 235, 235);
}

.edit:hover {
    color: rgb(235, 235, 235);
    background-color: darkslategrey;
}

.new {
    color: darkcyan;
    background-color: rgb(235, 235, 235);
    border-radius: 10px !important;
    line-height: 1.8 !important;
    margin-bottom: 1%;
}

.new:hover {
    color: rgb(235, 235, 235);
    background-color: darkcyan;
}

.down {
    color: #491217;
    background-color: rgb(235, 235, 235);
}

.down:hover {
    color: rgb(235, 235, 235);
    background-color: #491217;
}

.down1 {
    color: #005cbf;
    background-color: rgb(235, 235, 235);
}

.down1:hover {
    color: rgb(235, 235, 235);
    background-color: #005cbf;
}

.down2 {
    color: red;
    background-color: rgb(235, 235, 235);
}

.down2:hover {
    color: rgb(235, 235, 235);
    background-color: red;
}
