tr {
    cursor: default !important;
}

.add {
    color: green;
    background-color: rgb(235, 235, 235);
}

.add:hover {
    color: rgb(235, 235, 235);
    background-color: green;
}

.spinner {
    display: none;
    vertical-align: middle;
}
