.headerCol {
    cursor: pointer !important;
}

.width25 {
    width: 25% !important;
}

.width50 {
    width: 50% !important;
}

.lastRow {
    font-weight: bolder !important;
    text-align: center !important;
    color: #007558 !important;
    cursor: pointer !important;
}
